* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sem serifa;
}

body {
    background-image: url(../img/Group\ 52.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.div {
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    background-color: aliceblue;
    max-width: 500px;
    height: 600px;
    margin-top: 320px;
    background-color: rgba(227, 227, 181, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.input {
    border-radius: 7px;
    background-color: rgba(217, 217, 217, 1);
    padding: 20px;
    margin-top: 20px;
    width: 300px;
}

.botao:hover {
    background-color: rgb(172, 172, 43);
}

.botao {
    border-radius: 10px;
    background-color: black;
    color: rgba(227, 227, 181, 1);
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}
.botao2{
    margin-top: 30px;
}


.data {
    width: 300px;
    height: 30px;
    padding: 20px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 10px;
    border-radius: 7px;
}
