* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sem serifa;
}
body{
    background-color: rgba(39, 35, 57, 1);

}
h1 {
    color: rgba(227, 227, 181, 1);
    font-size: 50px;
    text-align: center;
    padding: 20%;
}




.botao1{
    background-color: rgba(227, 227, 181, 1);
    padding: 50px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    color:rgba(39, 35, 57, 1);
    border-radius: 20px;
    font-size: 50px;
   margin-top: 200px;

}


.iniciar {
    border: solid;
    background-color: rgba(227, 227, 181, 1);
    color: rgb(39, 35, 57, 1);
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
}

.Container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 300px;
}

.rolagem2{
    text-align: center;
    padding: 100px;
    margin: 100px;
}

@media (max-width:600px){
    .rolagem2{
        padding: 10px;
        margin: 10px;
    }
    .Container > img {
        max-width: 500px;
    }
    .rolagem2 > img {
        max-width: 500px;
    }
}
.menu > li > a{
    color:rgb(127, 112, 192);
}