* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sem serifa;
}

body {
    background-image: url(../img/imagem\ agrupada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.div {
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    background-color: aliceblue;
    width: 400px;
    height: 350px;
    margin-top: 320px;
    background-color: rgba(227, 227, 181, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.input {
    border-radius: 7px;
    background-color: rgba(217, 217, 217, 1);
    padding: 10px;
    margin-top: 10px;
}

.botao:hover {
    background-color: rgb(172, 172, 43);
}

.botao {
    border-radius: 7px;
    background-color: black;
    color: rgba(227, 227, 181, 1);
    padding: 2px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
}

span {
    font-size: 15px;
}

div p {
    font-size: 15px;
}

@media (max-width:600px) {
    .div{
        margin-top: 100px;
    }
}